In [125]:
from sklearn import ensemble , cross_validation, learning_curve, metrics, preprocessing,tree,neural_network

import numpy as np
import pandas as pd
import xgboost as xgb

In [3]:
data=pd.read_csv("/home/stas/data/mushrooms.csv")

In [4]:
X=data.iloc[:,1:]

In [5]:
y=data.iloc[:,0]

In [6]:
y_new=np.ones(8124)

In [97]:
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,married,secondary,no,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,married,tertiary,no,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,married,secondary,no,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,married,secondary,no,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,married,tertiary,no,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,married,tertiary,no,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,married,unknown,no,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,married,secondary,no,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,married,secondary,no,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,single,secondary,no,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,single,tertiary,no,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,single,secondary,no,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,married,tertiary,no,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,single,secondary,no,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,single,tertiary,no,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,married,tertiary,no,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,married,secondary,no,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,married,tertiary,no,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,married,secondary,no,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,single,secondary,no,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,married,secondary,no,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,divorced,secondary,no,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [8]:
for i in range(0,len(y)):
    if y[i]=="e":
        y_new[i]=0

In [9]:
estimator = xgb.XGBClassifier(learning_rate=0.01, max_depth=1000, n_estimators=1000, min_child_weight=3)

In [11]:
enc = preprocessing.OneHotEncoder()

In [12]:
bank=pd.read_csv("/home/stas/data/bank.csv",sep=";")

In [13]:
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,married,secondary,no,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,married,tertiary,no,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,married,secondary,no,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,married,secondary,no,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,married,tertiary,no,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,married,tertiary,no,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,married,unknown,no,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,married,secondary,no,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,married,secondary,no,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,single,secondary,no,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,single,tertiary,no,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,single,secondary,no,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,married,tertiary,no,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,single,secondary,no,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,single,tertiary,no,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,married,tertiary,no,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,married,secondary,no,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,married,tertiary,no,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,married,secondary,no,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,single,secondary,no,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,married,secondary,no,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,divorced,secondary,no,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [14]:
le = preprocessing.LabelEncoder()

In [15]:
le.fit(bank['job'])

LabelEncoder()

In [16]:
le.transform(bank['job'])

array([10,  7,  4, ...,  9,  1,  2])

In [34]:
bank_vords=bank.iloc[:,[1,2,3,4,6,7,8,10,15,16]]
bank_numeric=bank.iloc[:,[0,5,9,11,12,13,14]]

In [40]:
X=[]
for i in range(0,10):
    X.append(le.fit_transform(bank_vords.iloc[:,[i]]))

In [66]:
X1=[]
for i in range(0,7):
    X1.append(np.array(bank_numeric.iloc[:,[i]]))

np.array(X1)

In [24]:
y=X[9]

In [31]:
X=X[:9]

In [32]:
len(X)

9

In [44]:
X=np.array(X)

In [58]:
X1

[      age
 0      30
 1      33
 2      35
 3      30
 4      59
 5      35
 6      36
 7      39
 8      41
 9      43
 10     39
 11     43
 12     36
 13     20
 14     31
 15     40
 16     56
 17     37
 18     25
 19     31
 20     38
 21     42
 22     44
 23     44
 24     26
 25     41
 26     55
 27     67
 28     56
 29     53
 ...   ...
 4491   35
 4492   32
 4493   28
 4494   26
 4495   48
 4496   30
 4497   31
 4498   31
 4499   45
 4500   38
 4501   34
 4502   42
 4503   60
 4504   42
 4505   32
 4506   42
 4507   33
 4508   42
 4509   51
 4510   36
 4511   46
 4512   40
 4513   49
 4514   38
 4515   32
 4516   33
 4517   57
 4518   57
 4519   28
 4520   44

 [4521 rows x 1 columns],       balance
 0        1787
 1        4789
 2        1350
 3        1476
 4           0
 5         747
 6         307
 7         147
 8         221
 9         -88
 10       9374
 11        264
 12       1109
 13        502
 14        360
 15        194
 16       4073
 17       2317
 18       -221
 19        132
 20          0
 21         16
 22        106
 23         93
 24        543
 25       5883
 26        627
 27        696
 28        784
 29        105
 ...       ...
 4491        0
 4492      309
 4493        0
 4494      668
 4495     1175
 4496      363
 4497       38
 4498     1183
 4499      942
 4500     4196
 4501      297
 4502      -91
 4503      362
 4504     1080
 4505      620
 4506     -166
 4507      288
 4508      642
 4509     2506
 4510      566
 4511      668
 4512     1100
 4513      322
 4514     1205
 4515      473
 4516     -333
 4517    -3313
 4518      295
 4519     1137
 4520     1136

 [4521 rows x 1 columns],       day
 0      19
 1      11
 2      16
 3       3
 4       5
 5      23
 6      14
 7       6
 8      14
 9      17
 10     20
 11     17
 12     13
 13     30
 14     29
 15     29
 16     27
 17     20
 18     23
 19      7
 20     18
 21     19
 22     12
 23      7
 24     30
 25     20
 26      5
 27     17
 28     30
 29     21
 ...   ...
 4491   16
 4492   16
 4493    4
 4494   28
 4495   18
 4496   28
 4497   20
 4498   27
 4499   21
 4500   12
 4501   26
 4502    5
 4503   29
 4504   13
 4505   26
 4506   29
 4507   17
 4508   16
 4509   30
 4510   20
 4511   15
 4512   29
 4513   14
 4514   20
 4515    7
 4516   30
 4517    9
 4518   19
 4519    6
 4520    3

 [4521 rows x 1 columns],       duration
 0           79
 1          220
 2          185
 3          199
 4          226
 5          141
 6          341
 7          151
 8           57
 9          313
 10         273
 11         113
 12         328
 13         261
 14          89
 15         189
 16         239
 17         114
 18         250
 19         148
 20          96
 21         140
 22         109
 23         125
 24         169
 25         182
 26         247
 27         119
 28         149
 29          74
 ...        ...
 4491       169
 4492       346
 4493       205
 4494       576
 4495      1476
 4496       171
 4497       185
 4498       676
 4499       362
 4500       193
 4501        63
 4502        43
 4503       816
 4504       951
 4505      1234
 4506        85
 4507       306
 4508       509
 4509       210
 4510       129
 4511      1263
 4512       660
 4513       356
 4514        45
 4515       624
 4516       329
 4517       153
 4518       151
 4519       129
 4520       345

 [4521 rows x 1 columns],       campaign
 0            1
 1            1
 2            1
 3            4
 4            1
 5            2
 6            1
 7            2
 8            2
 9            1
 10           1
 11           2
 12           2
 13           1
 14           1
 15           2
 16           5
 17           1
 18           1
 19           1
 20           2
 21           3
 22           2
 23           2
 24           3
 25           2
 26           1
 27           1
 28           2
 29           2
 ...        ...
 4491         1
 4492         1
 4493         6
 4494         3
 4495         3
 4496         3
 4497         2
 4498         6
 4499         1
 4500         2
 4501         4
 4502         1
 4503         6
 4504         3
 4505         3
 4506         4
 4507         1
 4508         2
 4509         3
 4510         2
 4511         2
 4512         2
 4513         2
 4514         4
 4515         5
 4516         5
 4517         1
 4518        11
 4519         4
 4520         2

 [4521 rows x 1 columns],       pdays
 0        -1
 1       339
 2       330
 3        -1
 4        -1
 5       176
 6       330
 7        -1
 8        -1
 9       147
 10       -1
 11       -1
 12       -1
 13       -1
 14      241
 15       -1
 16       -1
 17      152
 18       -1
 19      152
 20       -1
 21       -1
 22       -1
 23       -1
 24       -1
 25       -1
 26       -1
 27      105
 28       -1
 29       -1
 ...     ...
 4491     -1
 4492    234
 4493     -1
 4494     -1
 4495     -1
 4496     -1
 4497     -1
 4498     -1
 4499     -1
 4500     -1
 4501     -1
 4502     -1
 4503     -1
 4504    370
 4505     -1
 4506     -1
 4507     -1
 4508     -1
 4509     -1
 4510     -1
 4511     -1
 4512     -1
 4513     -1
 4514    153
 4515     -1
 4516     -1
 4517     -1
 4518     -1
 4519    211
 4520    249

 [4521 rows x 1 columns],       previous
 0            0
 1            4
 2            1
 3            0
 4            0
 5            3
 6            2
 7            0
 8            0
 9            2
 10           0
 11           0
 12           0
 13           0
 14           1
 15           0
 16           0
 17           2
 18           0
 19           1
 20           0
 21           0
 22           0
 23           0
 24           0
 25           0
 26           0
 27           2
 28           0
 29           0
 ...        ...
 4491         0
 4492         3
 4493         0
 4494         0
 4495         0
 4496         0
 4497         0
 4498         0
 4499         0
 4500         0
 4501         0
 4502         0
 4503         0
 4504         4
 4505         0
 4506         0
 4507         0
 4508         0
 4509         0
 4510         0
 4511         0
 4512         0
 4513         0
 4514         1
 4515         0
 4516         0
 4517         0
 4518         0
 4519         3
 4520         7

 [4521 rows x 1 columns]]

In [115]:
%%time
score1.append(cross_validation.cross_val_score(estimator, X.T, y,scoring = 'accuracy', cv = 3))

CPU times: user 900 ms, sys: 12 ms, total: 912 ms
Wall time: 280 ms

In [53]:
score1=[]

In [116]:
score1

[array([ 0.88992042,  0.88453882,  0.89243028]),
 array([ 0.88992042,  0.88453882,  0.89243028]),
 array([ 0.89171271,  0.88274336,  0.8949115 ,  0.8960177 ,  0.90597345]),
 array([ 0.89171271,  0.88274336,  0.8949115 ,  0.8960177 ,  0.90597345]),
 array([ 0.89171271,  0.88274336,  0.8949115 ,  0.8960177 ,  0.90597345]),
 array([ 0.88741722,  0.90265487,  0.87389381,  0.90707965,  0.89159292,
         0.89823009,  0.89159292,  0.9159292 ,  0.90707965,  0.90486726]),
 array([ 0.89834254,  0.89269912,  0.89269912,  0.89712389,  0.8960177 ]),
 array([ 0.88992042,  0.88453882,  0.89243028])]

In [65]:
len(X.T)

4521

In [64]:
len(X1.T)

AttributeError: 'list' object has no attribute 'T'

In [80]:
X1=np.ones((7,4521),dtype="float64")
for i in range(0,7):
    X1[i]=np.array(bank_numeric.iloc[:,[i]]).T

In [72]:
X1=np.array(X1)

In [84]:
new_X=np.hstack((X.T,X1.T))

In [117]:
%%time
score1.append(cross_validation.cross_val_score(estimator, new_X, y,scoring = 'accuracy', cv = 10))

CPU times: user 5.13 s, sys: 24 ms, total: 5.15 s
Wall time: 1.36 s

In [103]:
score2=[]

In [101]:
score1[5].mean()

0.89803375725253465

In [110]:
tree_clf=ensemble.RandomForestClassifier(n_estimators=500,max_depth=4000)

In [111]:
%%time
score2.append(cross_validation.cross_val_score(tree_clf, new_X, y,scoring = 'accuracy', cv = 5))

Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x7f285b4100f0>>
Traceback (most recent call last):
  File "/home/stas/anaconda3/lib/python3.6/site-packages/xgboost/core.py", line 324, in __del__
    _check_call(_LIB.XGDMatrixFree(self.handle))
AttributeError: 'DMatrix' object has no attribute 'handle'

CPU times: user 16.2 s, sys: 128 ms, total: 16.3 s
Wall time: 16.3 s

In [114]:
score2[1].mean()

0.89758812888084871

In [118]:
score1

[array([ 0.88992042,  0.88453882,  0.89243028]),
 array([ 0.88992042,  0.88453882,  0.89243028]),
 array([ 0.89171271,  0.88274336,  0.8949115 ,  0.8960177 ,  0.90597345]),
 array([ 0.89171271,  0.88274336,  0.8949115 ,  0.8960177 ,  0.90597345]),
 array([ 0.89171271,  0.88274336,  0.8949115 ,  0.8960177 ,  0.90597345]),
 array([ 0.88741722,  0.90265487,  0.87389381,  0.90707965,  0.89159292,
         0.89823009,  0.89159292,  0.9159292 ,  0.90707965,  0.90486726]),
 array([ 0.89834254,  0.89269912,  0.89269912,  0.89712389,  0.8960177 ]),
 array([ 0.88992042,  0.88453882,  0.89243028]),
 array([ 0.88741722,  0.90265487,  0.87389381,  0.90707965,  0.89159292,
         0.89823009,  0.89159292,  0.9159292 ,  0.90707965,  0.90486726])]

In [123]:
estimator.fit(new_X,y)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=5,
       min_child_weight=3, missing=None, n_estimators=50, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [124]:
estimator.feature_importances_

array([ 0.0387931 ,  0.02047414,  0.02155172,  0.00107759,  0.03340517,
        0.01400862,  0.04956897,  0.11099138,  0.03556034,  0.11530172,
        0.12068965,  0.08297414,  0.24676724,  0.02586207,  0.06573276,
        0.01724138], dtype=float32)

In [129]:
neur=neural_network.MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(20, 5), random_state=1)

In [130]:
%%time
score1.append(cross_validation.cross_val_score(neur, new_X, y,scoring = 'accuracy', cv = 5))

CPU times: user 5.38 s, sys: 56 ms, total: 5.44 s
Wall time: 2.73 s

In [131]:
score1

[array([ 0.88992042,  0.88453882,  0.89243028]),
 array([ 0.88992042,  0.88453882,  0.89243028]),
 array([ 0.89171271,  0.88274336,  0.8949115 ,  0.8960177 ,  0.90597345]),
 array([ 0.89171271,  0.88274336,  0.8949115 ,  0.8960177 ,  0.90597345]),
 array([ 0.89171271,  0.88274336,  0.8949115 ,  0.8960177 ,  0.90597345]),
 array([ 0.88741722,  0.90265487,  0.87389381,  0.90707965,  0.89159292,
         0.89823009,  0.89159292,  0.9159292 ,  0.90707965,  0.90486726]),
 array([ 0.89834254,  0.89269912,  0.89269912,  0.89712389,  0.8960177 ]),
 array([ 0.88992042,  0.88453882,  0.89243028]),
 array([ 0.88741722,  0.90265487,  0.87389381,  0.90707965,  0.89159292,
         0.89823009,  0.89159292,  0.9159292 ,  0.90707965,  0.90486726]),
 array([ 0.8839779 ,  0.88495575,  0.88495575,  0.88495575,  0.88495575]),
 array([ 0.8839779 ,  0.88495575,  0.88495575,  0.88495575,  0.88495575])]

In [133]:
poly=preprocessing.PolynomialFeatures(2)

In [134]:
fucking_new_X=poly.fit_transform(new_X)

In [136]:
len(fucking_new_X.T)

153

In [137]:
%%time
score1.append(cross_validation.cross_val_score(estimator, fucking_new_X, y,scoring = 'accuracy', cv = 5))

CPU times: user 16 s, sys: 128 ms, total: 16.1 s
Wall time: 4.26 s

In [142]:
%%time
score1.append(cross_validation.cross_val_score(tree_clf, fucking_new_X, y,scoring = 'accuracy', cv = 5))

CPU times: user 40.7 s, sys: 76 ms, total: 40.7 s
Wall time: 40.7 s

In [144]:
score1[12].mean()-score1[11].mean()

0.0030956338923385784